* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 20px 0;
  top: 0;
  z-index: 100;
  transition: 0.3s linear;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .sticky {
  color: #fff;
  padding: 5px 100px;
}
.inner-width {
  max-width: 1300px;
  margin: auto;
}
.navbar .inner-width {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky {
  background-color: #fff;
  padding: 10px 0;
}
.sticky .navbar-menu a {
  color: #000;
}
.logo i {
  font-size: 49px;
  color: #9bb41a;
  cursor: pointer;
  margin-left: 35px;
}
.navbar-menu .link {
  color: white;
  font-size: 13px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  margin-left: 35px;
  display: inline-block;
  text-decoration: white;
}
.navbar-menu .link::after {
  content: "";
  display: block;
  width: 0;
  height: 1.8px;
  background-color: #9bb41a;
  transition: width 0.3s;
}
.navbar-menu .link:hover::after {
  width: 100%;
}
#home {
  height: 100vh;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/937/original/backg.jpg?1706107379);
  background-size: cover;
  background-position: center;
}
#home .inner-width {
  display: flex;
  align-items: center;
  height: 100%;
}

#home .content {
  padding-left: 50px;
  text-align: left;
  width: 50%;
}
#home .content h1 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 900;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9bb41a;
}
#home .content h1 span {
  color: #fff;
}
#home .content p {
  font-size: 17px;
  margin: 20px 0;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
}
#home .content button {
  padding: 13px 20px;
  outline: none;
  border: none;
  background-color: #9bb41a;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
#home .content button:hover {
  background-color: #fff;
  color: #9bb41a;
}
#about {
  height: 110vh;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/936/original/about.jpg?1706107368);
  background-position: center;
  background-size: cover;
  padding-top: 150px;
}
#about .container {
  width: 50%;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.container h1 {
  text-align: center;
  color: #9bb41a;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.container h1 span {
  color: #3f3f3f;
}
.container p {
  color: #3f3f3f;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 2px;
}
.container button {
  margin-top: 40px;
  padding: 15px 18px;
  background-color: #3f3f3f;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
}
.container button:hover {
  background-color: #9bb41a;
  font-weight: 900;
}
#Menu {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
}

.titles {
  margin-bottom: 60px;
  text-align: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 30px;
  margin-top: 50px;
}
h3 span {
  color: #9bb41a;
}

.slogan {
  width: 500px;
  display: flex;
  transform: translateX(5px);
  margin-bottom: 50px;
}

p {
  margin-bottom: 18px;
  margin-top: 0px;
}

.tab-title {
  margin-bottom: 120px;
}

.tab-title ul {
  display: flex;
  justify-content: center;
}

.tab-title ul li:not(:last-of-type) {
  margin-right: 120px;
}

ul li {
  list-style: none;
}

.tab-title ul li a:hover {
  transition: all 0.4s ease;
}

.tab-title ul li a.active {
  transition: all 0.4s ease;
}

.tab-title ul li a {
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navstyle {
  border-bottom: 0;
}

.navstyle li a {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.common-menu {
  display: none;
}

select {
  word-wrap: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.fade {
  transition: 0.15s linear;
}

.tab-content > .active {
  display: block;
}

::after {
  box-sizing: border-box;
}

::before {
  box-sizing: border-box;
}

.menu-container {
  margin: -20px;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  padding: 20px 45px;
  width: 50%;
  height: 100%;
}

.inner {
  height: 100%;
  border-bottom: 1px dashed;
  padding-bottom: 25px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

h5 {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1e1e1e;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.title h5:nth-last-of-type(2) {
  color: darkslategray;
  font-weight: bold;
}
#review {
  height: 90vh;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/938/original/contact.jpg?1706107390);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.review {
  padding: 50px;
  width: 500px;
}
.review h1 {
  text-align: center;
  color: #9bb41a;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.review h1 span {
  color: #575757;
}
.container-items {
  display: flex;
  justify-content: center;
}
.items {
  margin: 0 auto;
}
.item {
  margin-bottom: 15px;
}
input,
textarea {
  width: 350px;
  background: none;
  border: 2px solid #8a8a8a;
  border-radius: 3px;
  color: #575757;
  padding: 20px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
input:focus,
textarea:focus {
  border: 2px solid #9bb41a;
  outline: none;
}
.item textarea {
  height: 190px;
  resize: none;
  margin-bottom: 30px;
}
input::placeholder,
textarea::placeholder {
  color: #575757;
  font-size: 15px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  padding: 15px 28px;
  background-color: #3f3f3f;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.button button:hover {
  background-color: #9bb41a;
  font-weight: 900;
}
.footer {
  background-color: #2c2c2c;
  width: 100%;
  padding: 60px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100%;
  color: #fff;
}
.cl {
  display: flex;
  justify-content: center;
}
.cl:nth-child(1) {
  justify-content: flex-start;
}
.cl:nth-child(2) {
  flex-direction: column;
  text-align: right;
}
.logo-footer i {
  font-size: 49px;
  text-align: center;
  color: #9bb41a;
  cursor: pointer;
}
.copyright {
  line-height: 60px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  width: 300px;
}
.adress {
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}
.s-m {
  margin-top: 30px;
}
.s-m a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-align: left;
  margin-left: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.s-m a:hover {
  transform: scale(1.2);
  color: #9bb41a;
}
/* Responsive Styles */

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  #home .content {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  #about .container {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .custom-container {
    width: 100%;
  }

  .titles {
    margin-bottom: 20px;
  }

  .tab-title ul li:not(:last-of-type) {
    margin-right: 20px;
  }

  .common-menu {
    display: block;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
  }

  .tab-content {
    margin-top: 20px;
  }

  .menu-container {
    margin: -20px;
  }

  .menu-item {
    width: 100%;
    padding: 20px;
  }

  #review {
    height: auto;
  }

  .review {
    width: 100%;
  }
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 769px) {
  /* Add any specific styles for tablet and desktop views here */
}
